{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Please fill in the form to the best of your ability
      </h1>

      <p class="govuk-body">
        And send it back to us as soon as possible, to prevent delays to your claim. 
      </p>

      <p class="govuk-body">If you complete the form in full, your claim may be assessed without you needing an appointment with a health professional.</p>

    <h2 class="govuk-heading-m">
      If you need more time to complete the form 
    </h2>

    <p class="govuk-body">
      You can contact us on the number I gave you earlier.
    </p>

    <p class="govuk-body">
      Phone number: 0800 121 4433.
    </p>

    <h2 class="govuk-heading-m">
      If you have difficulties completing the form
    </h2>

    <p class="govuk-body">
      Local advice services may be able to help you. Their details can be found on your council website.
    </p>

    <p class="govuk-body">
      'Make the Call' is the Department's own service, and can support people who need help. 
    </p>

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "Phone number: 0800 232 1271"
}) }}

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "make-call",
  fieldset: {
    legend: {
      text: "Would you like assistance from the Make the Call service?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
            
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            href: "/v2-ucd-register/nationality/start"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-nat-in-progress"
          }) }}
        </div>
        


    </div>
  </div>

{% endblock %}
