{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Additional support needs</span>
      <h1 class="govuk-heading-l">
        The next questions are about the letters and forms we send you
      </h1>

      <p class="govuk-body">We need to know if your health conditions can sometimes make it difficult for you to fill them in and send them back to us.</p>

      <p class="govuk-body">Your answers will not affect whether you qualify for PIP.</p>
    

     <form class="form" action="#" method="post">
 
        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

    </div>
  </div>

{% endblock %}
