{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">
        
          <h1 class="govuk-heading-l">
            We will now send you an email with a link to the online form
          </h1>

          <p class="govuk-body">
            I need to enter some of your details again to <a href="https://www.notifications.service.gov.uk/sign-in" class="govuk-link" rel="noreferrer noopener" target="_blank">send the email invitation (opens in new tab)</a>.
          </p>

          {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
  
          {{ govukInsetText({
            classes: "colour-blue govuk-!-font-size-36 govuk-!-font-weight-bold",
              html: "<p class='govuk-body'>Action: Copy the applicant's details into the invitation form, then return to this screen.</p>"
          }) }}

          {% from "govuk/components/table/macro.njk" import govukTable %}

            {{ govukTable({
              captionClasses: "govuk-table__caption--l",
              firstCellIsHeader: true,
              rows: [
              [
              {
                text: " National Insurance number"
              },
              {
                text: "QQ 12 34 56 A"
              }
            ],
                [
                  {
                    text: " First name"
                  },
                  {
                    text: "Sarah"
                  }
                ],
                [
                  {
                    text: "Last name"
                  },
                  {
                    text: "Phillips"
                  }
                ],
                [
                  {
                    text: "Date of birth"
                  },
                  {
                    text: "21 05 1979"
                  }
                ],
                [
                {
                  text: "Postcode"
                },
                {
                  text: "WR1 1NL"
                }
              ],
              [
              {
                text: "Mobile number"
              },
              {
                text: "07700 900457"
              }
            ]
              ]
            }) }}

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            name: "email-sent",
            fieldset: {
              legend: {
                text: "I have sent you the email now",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select the completed task."
            },
            items: [
              {
                value: "email-sent",
                text: "Sent invitation email"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>

    </div>
  </div>

{% endblock %}
