{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

      <h1 class="govuk-heading-xl">
        Hello, you're through to the PIP new claims line. How can I help you today?
      </h1>

          <h2 class="govuk-heading-l">Are you calling to make a new claim for PIP?</h2>

      {% from "govuk/components/details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: " No, another reason",
        text: "You need to call the Enquiry line number: 0800 587 0932."
      }) }}

      <h2 class="govuk-heading-l">Do you want to apply for PIP in Northern Ireland?</h2>


      {{ govukDetails({
        summaryText: " No, England or Wales",
        text: "You should call the Department for Work and Pensions new claims line: 0800 917 2222"
      }) }}

      {{ govukDetails({
        summaryText: "No, Scotland",
          html: '<p class="govuk-body">You may be eligible for Adult Disability Payment (ADP) instead. </p>
                <p class= "govuk-body">To apply for ADP, you can:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Call Social Security Scotland on 0800 182 2222, or</li>
                <li>Apply online, by visiting www.mygov.scot</li>
              </ul>'
      }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "claiming-self",
          fieldset: {
            legend: {
              text: "Are you calling to claim PIP for yourself?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, for myself or with an interpreter"
            },
            {
              value: "no",
              text: " No, for someone else"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
