{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/design-updates/address-lookup/select-your-address"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


          <div class="govuk-width-container">
          <h1 class="govuk-heading-l">Is this the address we should send letters to?</h1>
          <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="#">Search again</a></p>

          {{ govukInsetText({
          html: "1 Washington Street<br>Worcester<br>WR1 1NL"
          }) }}

          {{ govukButton({
          text: "Use this address",
          href: "/design-updates/address-lookup/written-format"
          }) }}

          <p class="govuk-body"><a href="/ucd-register/contact-details/correspondence-postcode" class="govuk-link">Provide a different address</a></p>
          <p class="govuk-body govuk-!-margin-bottom-0"><a href="/ucd-register/contact-details/enter-address-manually-country" class="govuk-link">Enter address manually</a></p>
          </div>

      </form>

    </div>
  </div>

{% endblock %}
