{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate></form>

      {% from "govuk/components/button/macro.njk" import govukButton %}
     {% from "govuk/components/input/macro.njk" import govukInput %}

      <h1 class="govuk-heading-l">Your account details</h1>

      <h2 class="govuk-heading-m">It is very important you give me the correct details so that any payments you are due are not delayed or lost</h2>
      {{ govukInput({
        label: {
          text: "Name on the account"
        },
        id: "name-on-the-account",
        name: "nameOnTheAccount",
        autocomplete: "name",
        spellcheck: false
      }) }}
      
      {{ govukInput({
        label: {
          text: "BIC or SWIFT code"
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        hint: {
          text: "Must be between 8 and 11 characters long. You can ask your bank or check your bank statement"
        },
        id: "bic-code",
        name: "bicCode",
        spellcheck: false
      }) }}
      
      {{ govukInput({
        label: {
          text: "IBAN"
        },
        classes: "govuk-input--extra-letter-spacing",
        hint: {
          text: "You can ask your bank or check your bank statement"
        },
        id: "iban",
        name: "iban",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Do you have a building society roll or reference number? (optional)"
        },
        classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
        hint: {
          text: "You can find it on your card, statement or passbook."
        },
        id: "roll-number",
        name: "rollNumber",
        spellcheck: false
      }) }}

      <form class="form" action="#" method="post">


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-bank-done"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
