{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">
        
          <h1 class="govuk-heading-l">
            You have reached the end of the claim
          </h1>

          <p class="govuk-body">This is a test version of the claim registration journey, so the data you have entered will not be submitted.</p>

          <p class="govuk-body">You can now clear the data by ending this session.</p>

          <p class="govuk-body">You will return to the agent homepage to take further claims.</p>

              {{ govukButton({
                text: "Clear and exit",
                classes: "govuk-button--warning",
                href: "/index"
              }) }}


      </form>

    </div>
  </div>

{% endblock %}
