{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove item from order - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
      <form action="#" method="post" novalidate>

        {{ govukRadios({
          name: "save-or-clear",
          fieldset: {
            legend: {
              text: "Are you sure you want to delete your application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you delete your application, none of your answers will be saved."
          },
          items: [
            {
              value: "delete",
              text: "Yes"
            },
            {
              value: "save",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}