{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Search for a claimant",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "event-name",
          name: "eventName",
          hint: {
            text: "Enter a National Insurance number"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>

{% endblock %}
