{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          <span class="govuk-caption-l">When we pay you</span>
          
          {% call govukFieldset({
            legend: {
              text: "Were you in hospital yesterday?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <div class="govuk-hint govuk-!-padding-top-2"></div>
          
          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "hospital-yesterday",
            items: [
              {
              value: "yes",
              text: "Yes"
              },
              {
              value: "no",
              text: "No"
              }
            ]
          }) }}

          {% endcall %}

          {{ govukButton({
          text: "Continue"
          }) }}

          <p class="govuk-body">
            <a href="/current-non-MVP/task-list-in-progress-pay" class="govuk-link govuk-link--no-visited-state">Change previous answers</a>
          </p>
          
        </div>
      </form>
    </div>
  </div>

{% endblock %}