{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">Healthcare and support</span>
      <h1 class="govuk-heading-l">
        Do you have difficulty communicating with us?
      </h1>

      <p class="govuk-body">This could be things like sending information to us or understanding information that we may send to you, due to your health condition or disability. ​​</p>


      <form class="form" action="#" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
            name: "condition",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
      
            {{ govukButton({
              text: "Change previous answers",
              classes: "govuk-button--secondary",
              href: "/v2-ucd-register/task-list-cd-done"
            }) }}
          </div>

      </form>

    </div>
  </div>

{% endblock %}
