{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select yes if applicant or family member is working or paying insurance outside UK",
            href: "#abroad-over-four-weeks"
          }
        ]
      }) }}

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">

      <h1 class="govuk-heading-l">
        Are you or a family member working or paying insurance in a country in the European Economic Area or Switzerland?
      </h1>

    <div id="nationality-hint" class="govuk-hint">
      By family member we mean:
    </div>

    <div>
      <ul class="govuk-list govuk-list--bullet govuk-hint">
        <li>A husband, wife or civil partner, or</li>
        <li>A parent you are dependent on</li>
      </ul>
    </div>
      
      {{ govukRadios({
        name: "insurance-abroad",
        fieldset: {
          legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: {
          text: "Select yes if applicant or family member is working or paying insurance outside UK"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

    </fieldset>
  </div>

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

  </div>
</div>


{% endblock %}
