{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/public/sass/accessible-autocomplete.min.css">
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        <h1 class="govuk-heading-l">
         What country are you paying national insurance in?
        </h1>
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            text: "Select country"
          },
          items: [
            {
              value: "Cyprus",
              text: "Cyprus"
            },
            {
              value: "France",
              text: "France",
              selected: true
            },
            {
              value: "Germany",
              text: "Germany"
            },
            {
              value: "Hungary",
              text: "Hungary"
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-as-done"
          }) }}
        </div>

      </form>
      {% endblock %}
    </div>
  </div>

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">
    element = document.querySelector('#country')
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: element
    })
  </script>
{% endblock %}
