{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="#" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        
        {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          autocomplete: "tel",
          text: "20 character width",
          classes: "govuk-input--width-20",
          label: {
            text: "Enter nationality"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              text: "What is your nationality?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "british",
            text: "British"
          },
          {
            value: "irish",
            text: "Irish"
          },
            {
              value: "another-nationality",
              text: "Another nationality",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/non-MVP/task-list-in-progress-nation"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
