{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "countries",
        fieldset: {
          legend: {
            text: "Do any of the following apply to you?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "receiving-pensions",
            text: "Receiving pensions or benefits from a country in the European Economic Area (EEA) or Switzerland"
          },
          {
            value: "working-paying-insurance",
            text: "Working or paying national insurance in an EEA country or Switzerland"
          },
          {
            divider: "or"
          },
          {
            value: "none",
            text: "None of thse",
            behaviour: "exclusive"
          }
        ]
      }) }}

      <p class="govuk-body"><a href="#" class="govuk-link">Check which countries are in the EEA (opens in a new tab)</a>
      </p>

      <form action="/research/sprint-6/user-defined/apply-to-family-member" method="post" novalidate>

      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}
