{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete"
      }) }}

      <h2 class="govuk-heading-m">What happens now</h2>

      <p class="govuk-body">
        This is a test version of the claim registration journey, so the data you have entered will not be submitted.
      </p>

      <p class="govuk-body">
        You can now delete the application data and return to the home page.
      </p>
      
    </div>
  </div>


  {{ govukButton({
    text: "Delete and exit",
    classes: "govuk-button--warning",
    href: "/ucd-register/what-happens-next/MTP-end-journey-redirect"
   }) }}


      </form>

    </div>
  </div>

{% endblock %}
