{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

          <h1 class="govuk-heading-l">
            Sorry, we cannot begin your claim.
          </h1>

          <p class="govuk-body">In order to begin your claim, the declaration must be agreed to. </p>

          <p class="govuk-body">
            <a class="govuk-link" href="/index">Return to main agent UI</a> to access other services.
          </p>

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
