{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          <span class="govuk-caption-l">Healthcare and support</span>
          <h1 class="govuk-heading-l">Do you know the date you went into the hospice?</h1>

        {% set emailHtml %}

        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
          }
        }) }}

        {% endset -%}

        {{ govukRadios({
          name: "contact",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              label: {
                text: "Yes"
              },
              value: "yes",
              text: "Yes",
              conditional: {
                html: emailHtml
              },
              hint: {
                text: "Enter a date, like  27 3 2007"
              }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
          }) }}
          

        </div>
      </form>
    </div>
  </div>

{% endblock %}