{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Do you have a mental health condition or a condition that makes these things difficult?
      </h1>

      <form class="form" action="#" method="post">

        {{ govukRadios({
            name: "condition",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              },
              {
                value: "unsure",
                text: "Don't know"
              }
            ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
      
            {{ govukButton({
              text: "Change previous answers",
              classes: "govuk-button--secondary",
              href: "/v2-ucd-register/task-list-as-in-progress"
            }) }}
          </div>

      </form>

    </div>
  </div>

{% endblock %}
