{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-l">We may need to contact you for more information</h1>

      <p class="govuk-body">You will only be able to claim PIP if we can confirm your identity.</p>


    {{ govukInsetText({
      classes: "colour-blue govuk-!-font-size-36 govuk-!-font-weight-bold",
        html: "<p class='govuk-body'>Action: Enter 'Not enough applicant data to ask security questions' in PIPCS notes.
        </p>"
    }) }}

      {{ govukButton({
        text: "Continue",
        href: "/ucd-register/signposting-eligibility/srel"
      }) }}

  </form>
    
  </div>
</div>

{% endblock %}