{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your ability to complete a PIP claim and communicate with us
      </h1>

      <p class="govuk-body">
        The following questions won't affect your eligibility to claim PIP.
      </p>

      <p class="govuk-body">They are to help us understand whether you may have any significant difficulty communicating with us if you have:
        <ul class="govuk-list govuk-list--bullet">
          <li>a mental health condition</li>
          <li>learning, developmental or behavioural difficulties</li>
          <li>a cognitive impairment</li>
        </ul>
     </p>

     <form class="form" action="#" method="post">

     {{ govukDetails({
      summaryText: "Examples of conditions",
      html: '
          <ul class="govuk-list govuk-list--bullet">
            <li>Severe depression</li>
            <li>Bipolar disorder</li>
            <li>Post Traumatic Stress Disorder (PTSD)</li>
            <li>Obsessive Compulsive Disorder (OCD)</li>
            <li>Psychosis</li>
            <li>Schizophrenia</li>
            <li>Personality disorder</li>
            <li>Conduct disorder</li>
            <li>Attention deficit hyperactivity disorder (ADHD)</li>
            <li>Down syndrome</li>
            <li>developmental delay</li>
            <li>Alzheimer’s or Dementia</li>
          </ul>'
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}

  {{ govukButton({
    text: "Change previous answers",
    classes: "govuk-button--secondary",
    href: "/research/sprint-8/non-MVP/task-list-in-progress-add"
  }) }}
</div>

    </form>

    </div>
  </div>

{% endblock %}
