{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="#" method="post">
        <p>
          {{ govukRadios({
            name: "are-you-16-or-over",
            fieldset: {
              legend: {
                text: "Are you 16 or over?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "yes"
              },
              {
                value: "no",
                text: "no"
              }
            ]
          }) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
