{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-body govuk-!-margin-bottom-9">

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>
  
        <h2 class="govuk-heading-m">
          Hospital and care facilities
        </h2>
  
              {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "In a hospital or hospice as an in-patient today"
              },
              value: {
                text: "Yes, hospital"
              },
              actions: {
                items: [
                  {
                    href: "/current-non-MVP/additional-support/do-you-have-a-condition",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  }
                ]
              }
            },
            {
              key: {
                text: "In hospital yesterday"
              },
              value: {
                text: "Yes"
              },
              actions: {
                items: [
                  {
                    href: "additional-support/complete-forms",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  }
                ]
              }
            },
            {
              key: {
                text: "Private patient paying all own costs"
              },
              value: {
                text: "No"
              },
              actions: {
                items: [
                  {
                    href: "/current-non-MVP/additional-support/read-letters",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  }
                ]
              }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                html: "Guy's Hospital,<br>Great Maze Pond,<br>London<br> SE1 9RT"
              },
              actions: {
                items: [
                  {
                    href: "/ucd-register/hospital-dates/select-hospital-address",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>
  
            {{ govukButton({
              text: "Save and continue",
              href: "/research/sprint-12/new-order/task-list-in-progress-hospice"
            }) }}
        </form>

    </div>
  </div>
{% endblock %}
