{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"  
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/alternative-formats/spoken-format" method="post" novalidate>
        
        <h1 class="govuk-heading-l">If we need to speak to you about your claim, we'll usually contact you by phone</h1>

        <form class="form" action="#" method="post">

          <h2 class="govuk-heading-m">What phone number can we use to contact you?</h2>

          {{ govukInput({
            label: {
              text: "Mobile phone number"
            },
            id: "telephone-number",
            name: "telephone-number",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}
          
          {{ govukInput({
            label: {
              text: "Other phone number (optional)"
            },
            hint: {
              text: "For landlines, include a dialling code like 01632 960 001."
            },
            id: "telephone-number",
            name: "telephone-number",
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20"
          }) }}

        {{ govukRadios({
          id: "format",
          name: "[altFormats].[spoken].[format]",
          value: data["altFormats"]["spoken"]["format"],
            fieldset: {
            legend: {
              text: "Do you need support when speaking to us by phone, like use of a Textphone or an interpreter?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m
            "
            }
          },

          items: [
            {
              value: "standard-phone-call",
              text: "standard-phone-call" | getLabel
            },
            {
              divider: "or"
            },
            {
              value: "textphone",
              text: "textphone" | getLabel
            },
            {
              value: "signing-lipspeaking",
              text: "signing-lipspeaking" | getLabel
            },
            {
              value: "big-word",
              text: "big-word" | getLabel
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-af-in-progress"
          }) }}
        </div>

      </form>
    </div>
  </div>
{% endblock %}


