{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-body govuk-!-margin-bottom-9">

      <h1 class="govuk-heading-xl">
        Answers given so far
      </h1>

      <h2 class="govuk-heading-l">
        Contact details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "John Smith"
            },
            actions: {
              items: [
                {
                  href: "/non-MVP/contact-details/what-is-your-name",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              html: "<p class='govuk-body'>07942 329321</p>"
            },
            actions: {
              items: [
                {
                  href: "/non-MVP/contact-details/what-is-your-phone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Text message updates"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/non-MVP/contact-details/do-you-want-to-receive-text-updates",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "1 Washington Street,<br>Worcester<br>WR1 1NL"
            },
            actions: {
              items: [
                {
                  href: "/non-MVP/contact-details/select-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Same address for letters"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/non-MVP/contact-details/correspondence-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Alternative formats
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Alternative formats needed"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/non-MVP/contact-details/alternative-formats",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        Nationality, residence and living abroad
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Nationality"
            },
            value: {
              text: "British"
            },
            actions: {
              items: [
                {
                  href: "/register/nationality/what-is-your-nationality",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Country normally lived in"
            },
            value: {
              text: "England"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Lived anywhere other than UK in last 3 years"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Left UK for more than 4 weeks at once in last 3 years"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/register/nationality/abroad-over-four-weeks",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Pensions, benefits and work outside the UK
      </h2>

            {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Receiving pensions or benefits from EEA country or Switzerland"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/register/nationality/benefits-abroad",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Working or paying insurance in EEA country or Switzerland"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/register/nationality/insurance-abroad",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

    </div>


      <form action="/#" method="post">

        {{ govukButton({
          text: "Go back to where I left off",
          href: "/non-MVP/healthcare-professional/start"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
