{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-body govuk-!-margin-bottom-9">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>


      <h2 class="govuk-heading-m">
        Health and support contacts
      </h2>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Main health contact"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                visuallyHiddenText: "main health contact"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              html: "Dr Jones"
            },
            actions: {
              items: [
                {
                  href: "/current-non-MVP/healthcare-professional/healthcare-prof-type",
                  text: "Change",
                  visuallyHiddenText: "whether details are known"
                }
                ]
              }
          },
          {
            key: {
              text: "Profession or support type"
            },
            value: {
              html: "General Practitioner"
            },
            actions: {
              items: [
                {
                  href: "/current-non-MVP/healthcare-professional/healthcare-prof-type",
                  text: "Change",
                  visuallyHiddenText: "whether details are known"
                }
                ]
              }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "<p class='govuk-body'>4 Privet Drive, Little Whinging, Surrey, 
                CR3 0BD</p>"
            },
            actions: {
              items: [
                {
                  href: "/research/sprint-12/new-order/hcp-change-address",
                  text: "Change",
                  visuallyHiddenText: "whether details are known"
                }
                ]
              }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              html: "<p class='govuk-body'>01622 55987</p>"
            },
            actions: {
              items: [
                {
                  href: "/current-non-MVP/healthcare-professional/healthcare-prof-type",
                  text: "Change",
                  visuallyHiddenText: "whether details are known"
                }
                ]
              }
          }
        ]
      }) }}

     
    </div>

          {{ govukButton({
            text: "Save continue",
            href: "/current-non-MVP/additional-support/start-info"
          }) }}
      </form>

    </div>
  </div>
{% endblock %}
