{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Healthcare and support</span>
      <h1 class="govuk-heading-l">
        Advice about filling in form
      </h1>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "/non-MVP/final-review-answers"
        }) }}

        {{ govukButton({
          text: "Review answers",
          classes: "govuk-button--secondary",
          href: "/non-MVP/final-review-answers"
        }) }}
  </div>


    </div>
  </div>

{% endblock %}
