{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">
        Bank details
      </h2>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Can give account details now"
          },
          value: {
            text: "No"
          },
          actions: {
            items: [
              {
                href: "/design-updates/bank-details/6-1-start",
                text: "Change",
                visuallyHiddenText: "Question 1"
              }
            ]
          }
        }
        ]
      }) }}

      <form action="#" method="post">

        {{ govukButton({
          text: "Save and continue",
          href: "/ucd-concepts-testing"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
