{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        <h1 class="govuk-heading-l">
          Do you have anyone to help you fill out forms and respond to letters?
        </h1>
        
        {{ govukRadios({
          classes: "govuk-radios--inline",
            name: "helpers",
            fieldset: {
              legend: {

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes - a family member, friend or neighbour"
              },
              {
                value: "yes",
                text: "Yes - a council or support service, health or care worker"
              },
              {
                divider: "or"
              },
              {
                value: "no",
                text: "No"
              }
  ]
          }) }}

          {{ govukButton({
            text: "Continue",
            href: "/research/sprint-8/additional-support/advice",
            isContinueButton: true
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
