{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">
        
          <h1 class="govuk-heading-l">
            We need to send you an email with a link to the online form
          </h1>

          <p class="govuk-body">
            Action: Copy the applicant's details into the <a href="https://www.notifications.service.gov.uk/sign-in" class="govuk-link" rel="noreferrer noopener" target="_blank">email invitation form (opens in new tab)</a>.
          </p>

          <p class="govuk-body">
            Return to this screen to confirm the invitation email has been sent.
          </p>
 
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      National Insurance number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      QQ 12 34 56 A
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <div class="app-example__code">
                        <button class="app-example__copy-code-button" aria-live="assertive" data-module="html">Copy</button>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sarah
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <div class="app-example__code">
                        <button class="app-example__copy-code-button" aria-live="assertive" data-module="html">Copy</button>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Phillips
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <div class="app-example__code">
                        <button class="app-example__copy-code-button" aria-live="assertive" data-module="html">Copy</button>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      21 05 1979
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <div class="app-example__code">
                        <button class="app-example__copy-code-button" aria-live="assertive" data-module="html">Copy</button>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     Postcode
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">WR1 1NL</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <div class="app-example__code">
                        <button class="app-example__copy-code-button" aria-live="assertive" data-module="html">Copy
                        </button>
                      </div>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Mobile number
                     </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">07700 900457</p>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <div class="app-example__code">
                      <button class="app-example__copy-code-button" aria-live="assertive" data-module="html">Copy</button>
                    </div>
                  </dd>
                  </div>
                </dl>
              
              </div>
            </div>
      
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            name: "email-sent",
            fieldset: {
            },
            items: [
              {
                value: "email-sent",
                text: "Invitation email has been sent"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>

    </div>
  </div>

{% endblock %}
