{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ dwpHeader({
  name: "Personal Independence Payment",
  serviceHref: '/index',
  container:true
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

      <h1 class="govuk-heading-l">
        Hello, you're through to the new claims line for Personal Independence Payment (PIP)
      </h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "new-claims",
          fieldset: {
            legend: {
              text: "Are you calling to start a new application for PIP?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="/ucd-register/clear-session-data/are-you-sure-cancel">Cancel application</a>
        </div>

    </form>
  </div>

{% endblock %}
