{% extends "layouts/main.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Archived designs and versions</h1>

{% from "govuk/components/details/macro.njk" import govukDetails %}
<div>
    <ol class="govuk-list">
      <li>
        <a href="/current-non-MVP/task-list">Current non MVP</a>
      </li>
      <li>
        <a href="/non-MVP/task-list">first non MVP</a>
      </li>
      <li>
        <a href="/ucd-register/task-list">original UCD prototype: Check your answers after each section that navigates back to tasklist on completion.</a>
      </li>
    </ol>

    <ol class="govuk-list">
      <li>
        <a href="/ucd-register/task-list">original UCD prototype: Check your answers after each section that navigates back to tasklist on completion.</a>
      </li>
      <li>
        <a href="/ucd-register/task-list">Devs prototype: now can go off UCD prototype for devs.</a>
      </li>
    </ol>

    <p class="govuk-heading-s">Archived screens</p>

    <ol class="govuk-list">
      <li>
        <a href="/archived-designs/original-script-alt-f">Alt formats existing script</a>
      </li>
      <li>
        <a href="/archived-designs/removed-name-details/do-you-have-a-previous-last-name">Do you have a previous last name? (not needed)</a>
      </li>
      <li>
        <a href="/archived-designs/cya-previous-last-name"> Contact details CYA removed "Do you have a previous last name?"</a>
      </li>
      </ol>
    
    <ol class="govuk-list">
      <li>
        <a href="/archived-designs/bank-validation-error">V1 bank validation error page: Insutruction of where to go, and what to say to customer on phone </a>
      </li>
      <li>
        <a href="/archived-designs/account-type">Type of account: bank,credit union or building society </a>
      </li>
    </ol>

    <ol class="govuk-list">
      <li>
        <a href="/design-updates/hcp-cya-concepts/hcp-edit-journey/hp-summary-two-remove">V1. 2 HCPs CYA</a>
      </li>
      </ol>
    
  </div>
</div>

{% endblock %}
