{% extends "layouts/main.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Error messages</h1>

{% from "govuk/components/details/macro.njk" import govukDetails %}
test

<p class="govuk-heading-m">Contact details:</p>
<p class="govuk-body">1.1 What is your name?</p>
<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/no-first-name">No first name entered: "Enter first name"</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/max-first-name">Max first name: "First name must be 35 characters or less"</a>
 </li>
</ol>

<ol class="govuk-list">
 <li>
  <a href="/ucd-register/contact-details/error-messages/max-middle-name">Max middle name: "Middle name must be 35 characters or less"</a>
 </li>
</ol>

<ol class="govuk-list">
<li>
  <a href="/ucd-register/contact-details/error-messages/no-last-name">No last name entered: "Enter last name"</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/max-last-name">Max last name: "Last name must be 35 characters of less</a>
 </li>
</ol>

<p class="govuk-body">1.2 What is the main phone number we can use to contact you?</p>
<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/no-main-number">No main phone number entered: "Enter a main phone number"</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/invalid-main-number">Invalid main phone number entered: "Enter a phone number, like..."</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/max-main-number">Max main phone number: "Main phone number must be 15 characters or less"</a>
 </li>
</ol>

<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/invalid-secondary-number">Invalid secondary phone number entered</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/max-secondary-number">Max secondary phone number</a>
 </li>
</ol>

<p class="govuk-body">1.3 Do you want to receive text messages with updates?</p>
<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/no-radios-text-updates">No radios selected: Select yes if applicant would like to receive text messages with updates about the progress of their claim</a>
 </li>
</ol>

<p class="govuk-body">1.4 What is your postcode and building number?</p>
<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/postcode-building-no/no-postcode-building">No postcode building number entered:Enter phone number</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/postcode-building-no/invalid-postcode">Invalid characters: Enter a UK postcode using only letters and numbers, in the format M2 3LR</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/postcode-building-no/incorrect-format-postcode">Incorrect format postcode: Enter a UK postcode in the format M2 3LR</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/postcode-building-no/postcode-ten-characters">Too many characters: Postcode must be 10 characters or less</a>
 </li>
</ol>

<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/postcode-building-no/building-max-characters">Too many characters: Building number or name must be 35 characters or less</a>
 </li>
</ol>

<p class="govuk-body">1.7 Is this the address we should send letters to?</p>

<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/same-address/no-radios">No radios selected: Select yes if the applicant wants letters to be sent to this address</a>
 </li>
</ol>

<p class="govuk-body">1.8 What is the postcode and building number of the address we should send letters to?</p>
<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/no-postcode">No postcode: Enter a UK postcode</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/invalid-postcode">Invalid postcode: Enter a UK postcode using only letters and numbers, in the format M2 3LR</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/incorrect-format">Incorrect format: Enter a UK postcode in the format M2 3LR</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/max-characters">Too many characters: Postcode must be 10 characters or less</a>
 </li>
 <li>
  <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/max-characters-building">Building too many characters: Building number or name must be 35 characters or less</a>
 </li>
</ol>


<p class="govuk-body">1.12 Do you need us to send letters in another format?</p>

<ol class="govuk-list">
  <li>
  <a href="/ucd-register/contact-details/error-messages/no-radios-same-address-letters">No radios selected: Select yes if applicant needs letters to be sent in another format</a>
 </li>
</ol>

<p class="govuk-heading-m">Bank details</p>
<p class="govuk-body">6.1 Can you give me your account details now?</p>
<ol class="govuk-list">
  <li>
  <a href="/ucd-register/bank-details/error-messages/6-1-no-radios-selected">No radios selected: "Select yes if applicant can give account details now"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-name-blank">Field left blank: "Enter the name on the account"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-name-max">More than 60: "Name on the account must be 60 characters or less"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-sort-code-blank">Sort code left blank: "Enter a sort code"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-valid-sort-code">Sort code is not in the correct format: "Enter a valid sort code like 309430..."</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-sort-code-6-digits">Sort code 6 digits: "Sort code must be 6 digits"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-account-no-blank">Account field left blank: "Enter an account number"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-invalid-format">Invalid account format: "Enter a valid account number like 00733445"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-max-account-no">Account number is more than 8 digits: "Account number is more than 8 digits"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-more-18">Roll/reference number more than 18 digits: "Roll/reference number must only include... and forward slashes"</a>
 </li>
 <li>
  <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-not-allowed">Roll/reference number characters not allowed: "Roll/reference number must be 18 characters or less"</a>
 </li>
</ol>

  </div>
</div>

{% endblock %}
