{% extends "layouts/main.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Error messages</h1>

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Contact details"
      },
      content: {
        html: ' <h3 class="govuk-heading-s">1.1 What is your name?</h3>
        <ol class="govuk-list">
          <li>
          <a href="/ucd-register/contact-details/error-messages/no-first-name">No first name entered: "Enter first name"</a>
         </li>
         <li>
          <a href="/ucd-register/contact-details/error-messages/max-first-name">Max first name: "First name must be 35 characters or less"</a>
         </li>
        </ol>
        
        <ol class="govuk-list">
          <li>
           <a href="/ucd-register/contact-details/error-messages/max-middle-name">Max middle name: "Middle name must be 35 characters or less"</a>
          </li>
         </ol>
         
         <ol class="govuk-list">
         <li>
           <a href="/ucd-register/contact-details/error-messages/no-last-name">No last name entered: "Enter last name"</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/max-last-name">Max last name: "Last name must be 35 characters of less</a>
          </li>
         </ol>

         <ol class="govuk-list">
          <li>
            <a href="/ucd-register/contact-details/error-messages/preferred-name-no-radios">Preferred name no radios selected: "Select yes if same name should be used when contacting applicant"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/preferred-name-conditional-blank">Preferred name conditional blank: "Select yes if same name should be used when contacting applicant"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/preferred-name-too-many-characters">Preferred name too many characters: "Preferred name must be 100 characters or less"</a>
           </li>
          </ol>

         <h3 class="govuk-heading-s">1.2 What is the main phone number we can use to contact you?</h3>
         <ol class="govuk-list">

          <p class="govuk-body">Mobile number</p>
           <li>
           <a href="/ucd-register/contact-details/error-messages/no-main-number">No main phone number entered: "Enter a main phone number"</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/invalid-main-number">Invalid main phone number entered: "Enter a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192"</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/max-main-number">Max main phone number: "Mobile phone number must be 15 characters or less"</a>
          </li>
         </ol>

         
         <ol class="govuk-list">
          <p class="govuk-body">Secondary number</p>
           <li>
           <a href="/ucd-register/contact-details/error-messages/invalid-secondary-number">Invalid other phone number entered: "Enter a real phone number"</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/max-secondary-number">Max other phone number: "Phone number must be 15 characters or less"</a>
          </li>
         </ol>

         <h3 class="govuk-heading-s">1.3 Do you want to receive text messages with updates?</h3>
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/no-radios-text-updates">No radios selected: Select yes if applicant would like to get text message updates about their claim</a>
          </li>
         </ol>

         <h3 class="govuk-heading-s">1.4 What is your postcode and building number?</h3>
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/postcode-building-no/no-postcode-building">Postcode + building number not entered: Enter a UK postcode, or a building number or name</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/postcode-building-no/invalid-postcode">Invalid characters: Enter a UK postcode using only letters and numbers, in the format M2 3LR</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/postcode-building-no/incorrect-format-postcode">Incorrect format postcode: Enter a UK postcode in the format M2 3LR</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/postcode-building-no/postcode-ten-characters">Too many characters: Postcode must be 10 characters or less</a>
          </li>
         </ol>

         <h3 class="govuk-heading-s">1.6 Manual address entry</h3>
         
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/no-entry">Mandatory address line 1 field not populated: "Enter address line 1, typically the building and street"</a>
          </li>
          <li>
            <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/incorrect-characters">Incorrect number of characters in address line 1: "Address line 1 must be between 3 and 35 characters"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/incorrect-characters-line-2">Incorrect number of characters in address line 2: "Address line 2 must be between 3 and 35 characters"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/no-entry-town-city">Mandatory town or city field not populated: "Enter town or city"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/incorrect-characters-town-city">Incorrect number of characters of town or city: "Town or city must be between 3 and 35 characters"</a>
           </li>
           <li>
           <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/no-postcode">Mandatory postcode field not populated: "Enter postcode"</a>
          </li>
          <li>
          <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/incorrect-format-postcode">Incorrect format of postcode: "Enter a UK postcode using only letters and numbers, in the format M2 3LR"</a>
        </li>
        <li>
          <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/too-many-characters-postcode">Too many characters entered: "Postcode must be 10 characters or less"</a>
        </li>
        <li>
          <a href="/ucd-register/contact-details/error-messages/1-6-address-manually/no-entry-country">Country not selected: "Enter country"</a>
        </li>
         </ol>

         <h3 class="govuk-heading-s">1.10 Manual address for letters</h3>
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/no-entry">Mandatory address line 1 field not populated: "Enter address line 1, typically the building and street"</a>
          </li>
          <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/incorrect-characters">Incorrect number of characters in address line 1: "Address line 1 must be between 3 and 35 characters"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/incorrect-characters-line-2">Incorrect number of characters in address line 2: "Address line 2 must be between 3 and 35 characters"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/no-entry-town-or-city">Mandatory town or city field not populated: "Enter town or city"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/incorrect-characters-town-city">Incorrect number of characters of town or city: "Town or city must be between 3 and 35 characters"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/no-postcode">Mandatory postcode field not populated: "Enter postcode"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/incorrect-format-postcode">Incorrect format of postcode: "Enter a UK postcode using only letters and numbers, in the format M2 3LR"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/too-many-characters-postcode">Too many characters entered for postcode: "Postcode must be 10 characters or less"</a>
           </li>
           <li>
            <a href="/ucd-register/contact-details/error-messages/1-10-correspondence-manually/country-not-selected">Country not selected: "Enter country"</a>
           </li>
         </ol>
         
         <h3 class="govuk-heading-s">1.7 Is this the address we should send letters to?</h3>
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/same-address/no-radios">No radios selected: Select yes if the applicant wants letters to be sent to this address</a>
          </li>
         </ol>
         
         <h3 class="govuk-heading-s">1.8 What is the postcode and building number of the address we should send letters to?</h3>
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/no-postcode">No postcode: Enter a UK postcode</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/invalid-postcode">Invalid postcode: Enter a UK postcode using only letters and numbers, in the format M2 3LR</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/incorrect-format">Incorrect format: Enter a UK postcode in the format M2 3LR</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/max-characters">Too many characters: Postcode must be 10 characters or less</a>
          </li>
          <li>
           <a href="/ucd-register/contact-details/error-messages/letters-postcode-building/max-characters-building">Building too many characters: Building number or name must be 35 characters or less</a>
          </li>
         </ol>
         
         <h3 class="govuk-heading-s">1.12 Do you need us to send letters in another format?</h3> 
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/contact-details/error-messages/no-radios-same-address-letters">No radios selected: Select yes if applicant needs letters to be sent in another format</a>
          </li>
         </ol>'
      }
    },
    {
      heading: {
        text: "Additional support needs"
      },
      content: {
        html: ' <h3 class="govuk-heading-s">4.2 Do you have a mental health condition ... difficulties remembering things, learning new things, or making everyday decisions?</h3>
        <ol class="govuk-list">
          <li>
          <a href="/ucd-register/additional-support/error-messages/4-2-no-radios-selected">No radios selected: "Select yes if applicant has a mental health condition or other condition that causes difficulty with memory, learning and decisions"</a>
         </li>
        </ol>
        
        <h3 class="govuk-heading-s">4.3 When we need you to send us information about your claim</h3> 
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/additional-support/error-messages/4-3-no-radios-complete-forms">No radios selected for complete forms: "Select yes if applicant is able to  complete forms"</a>
           </li>
           <li>
            <a href="/ucd-register/additional-support/error-messages/4-3-no-radios-respond-letters">No radios selected for read and respond to letters: "Select yes if applicant is able to read and respond to letters"</a>
           </li>
           <li>
            <a href="/ucd-register/additional-support/error-messages/4-3-no-radios-manage-post">No radios selected for manage and return post: "Select yes if applicant is able to manage their post and return information by post"</a>
           </li>
        </ol>
        
        <h3 class="govuk-heading-s">4.4 Do you have anyone to help you with these tasks?</h3> 
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/additional-support/error-messages/4-4-no-radios-helpers">No radios selected: "Select yes if applicant has anyone to help with these tasks"</a>
           </li>
        </ol>
        
        <h3 class="govuk-heading-s">4.5 Who will you ask for help? </h3> 
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/additional-support/error-messages/4-5-max-characters-who-helps">User has entered more than 200 characters: "Name of person helping the applicant must be 200 characters or less"</a>
           </li>
           <li>
            <a href="/ucd-register/additional-support/error-messages/4-5-blank-who-helps">User has left text field blank: "Enter name of person helping the applicant"</a>
           </li>
        </ol>
        
        <h3 class="govuk-heading-s">4.6 Would you like assistance from the Make the Call service? </h3> 
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/additional-support/error-messages/4-6-no-radios-make-call">User has not selected any radios: "Select yes if applicant wants help from Make the Call"</a>
           </li>
        </ol>'
      }
    },
    {
      heading: {
        text: "Nationality"
      },
      content: {
        html: '<h3 class="govuk-heading-s">What is your nationality?</h3>
        <ol class="govuk-list">
         <li>
          <a href="/ucd-register/nationality/error-messages/what-is-your-nationality-no-radios">No radios: "Select nationality"</a>
         </li>
        </ol>

        <h3 class="govuk-heading-s">What country do you normally live in?</h3>
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/nationality/error-messages/what-country-do-you-live-in-no-radios">No radios: "Select country"</a>
           </li>
          </ol>
          
          <h3 class="govuk-heading-s">Have you lived anywhere other than the UK in the last 3 years?</h3>
          <ol class="govuk-list">
            <li>
              <a href="/ucd-register/nationality/error-messages/lived-elsewhere-3-years-no-radios">No radios: "Select yes if applicant has lived outside UK in the last 3 years"</a>
             </li>
            </ol>
            
            <h3 class="govuk-heading-s">Have you left the UK for more than 4 weeks at a time, in the last 3 years?</h3>
            <ol class="govuk-list">
              <li>
                <a href="/ucd-register/nationality/error-messages/abroad-over-four-weeks-no-radios">No radios: "Select yes if applicant has left UK for more than 4 weeks at a time in last 3 years"</a>
               </li>
              </ol>
              
              <h3 class="govuk-heading-s">Are you or a family member working or paying insurance in a country in the European Economic Area or Switzerland?</h3>
              <ol class="govuk-list">
                <li>
                  <a href="/ucd-register/nationality/error-messages/insurance-abroad-no-radios">No radios: "Select yes if applicant or family member is working or paying insurance outside UK"</a>
                 </li>
                </ol>
                
                <h3 class="govuk-heading-s">Are you or a family member receiving pensions or benefits from a country in the European Economic Area or Switzerland?</h3>
                <ol class="govuk-list">
                  <li>
                    <a href="/ucd-register/nationality/error-messages/benefits-abroad-no-radios">No radios: "Select yes if applicant or family member is getting pensions or benefits from outside UK"</a>
                   </li>
                  </ol>'
      }
    },
    {
      heading: {
        text: "Bank details"
      },
      content: {
        html: '<h3 class="govuk-heading-s">6.1 Can you give me your account details now?</h3>
        <ol class="govuk-list">
          <li>
          <a href="/ucd-register/bank-details/error-messages/6-1-no-radios-selected">No radios selected: "Select yes if applicant can give account details now"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-name-blank">Field left blank: "Enter the name on the account"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-name-max">More than 60: "Name on the account must be 60 characters or less"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-sort-code-blank">Sort code left blank: "Enter a sort code"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-valid-sort-code">Sort code is not in the correct format: "Enter a valid sort code like 309430..."</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-sort-code-6-digits">Sort code 6 digits: "Sort code must be 6 digits"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-account-no-blank">Account field left blank: "Enter an account number"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-invalid-format">Invalid account format: "Enter a valid account number like 00733445"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-max-account-no">Account number is more than 8 digits: "Account number is more than 8 digits"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-more-18">Roll/reference number more than 18 digits: "Roll/reference number must only include... and forward slashes"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-not-allowed">Roll/reference number characters not allowed: "Roll/reference number must be 18 characters or less"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-incorrect-format">Roll number format is incorrect: "Enter a real roll or reference number like CXJ-K6 897/98X or 10/00002183-9"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-no-entry">Roll number required- no entry: "Enter a roll or reference number"</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/6-3-roll-ref-no-radio-selected">No roll/ref radio selected: "Select yes if account has a roll or reference number"</a>
         </li>
        </ol>
        
        <h3 class="govuk-heading-s">6.7 We could not match these details to an account</h3>
        <ol class="govuk-list">
          <li>
          <a href="/ucd-register/bank-details/error-messages/account-not-match-dy-1">Dynamic text 1- account not found: "The account number does not exist."</a>
         </li>
         <li>
          <a href="/ucd-register/bank-details/error-messages/account-not-match-dy-2">Dynamic text 2- account not found: "There is a problem with the details you entered."</a>
         </li>
         </ol>
         
         <h3 class="govuk-heading-s">6.8 Sorry, there is a problem with the service</h3>
         <ol class="govuk-list">
           <li>
           <a href="/ucd-register/bank-details/error-messages/service-down">Service down: "You can either try again, or continue without providing account details now."</a>
          </li>
          </ol>'
      }
    },
    {
      heading: {
        text: "Health and care contacts"
      },
      content: {
        html: '<h3 class="govuk-heading-s">3.3 Main health contact</h3>
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/healthcare-professional/error-messages/hcp-no-radios">User has not selected any radios: "Select health contacts job title or support role"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/hcp-other-role">User has not inputted other field: "Enter health contacts job title or support role"</a>
           </li>
          <li>
          <a href="/ucd-register/healthcare-professional/error-messages/first-name-not-populated">First name not populated: "Enter health contacts full name or job title if applicant does not know name"</a>
         </li>
         <li>
          <a href="/ucd-register/healthcare-professional/error-messages/first-name-too-many-characters">Too many characters entered (more than 56): "Full name must be 56 characters or less"</a>
         </li>
         <li>
          <a href="/ucd-register/healthcare-professional/error-messages/hcp-no-radios-phone-number">User has not selected a phone number radio: "Select yes if applicant knows phone number"</a>
         </li>
         <li>
          <a href="/ucd-register/healthcare-professional/error-messages/hcp-no-number-entered">Phone radio field left blank: "Enter health contacts phone number"</a>
         </li>
         <li>
          <a href="/ucd-register/healthcare-professional/error-messages/hcp-too-many-characters-phone-number">Too many characters entered (more than 15): "Phone number must be 15 characters or less"</a>
         </li>
         <li>
          <a href="/ucd-register/healthcare-professional/error-messages/hcp-invalid-phone-number">User enters an invalid phone number: "Enter a phone number, using only numbers, spaces or the character +"</a>
         </li>
         </ol>
         
         <h3 class="govuk-heading-s">3.4 Another contact?</h3>
         <ol class="govuk-list">
          <li>
            <a href="/ucd-register/healthcare-professional/error-messages/add-support-needed-no-radios">User has not selected any radios: "Select yes if there is another health contact"</a>
           </li>
          </ol>

           <h3 class="govuk-heading-s">3.5 Second contact</h3>
           <ol class="govuk-list">
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-no-radios">User has not selected any radios: "Select health contacts job title or support role"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-other-role">User has not inputted other field: "Enter health contacts job title or support role"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-no-first-name">Mandatory first name field not populated: "Enter health contacts full name, or job title if applicant does not know name"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-too-many-characters">Too many characters entered (more than 56): "Full name must be 56 characters or less"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-phone-no-radios">User has not selected any radios: "Select yes if applicant knows phone number"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-no-number-entered">Phone radio field left blank: "Enter health contacts phone number"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-phone-too-many">Too many characters entered (more than 15): "Phone number must be 15 characters or less"</a>
           </li>
           <li>
            <a href="/ucd-register/healthcare-professional/error-messages/additional-support-invalid-phone">Invalid phone number: "Enter a phone number, using only numbers, spaces or the character +"</a>
           </li>
          </ol>

          <h3 class="govuk-heading-s">What is the postcode and name of their work address?</h3>
          <ol class="govuk-list">
            <li>
              <a href="/ucd-register/healthcare-professional/error-messages/postcode-letters-numbers">Invalid characters entered in postcode: "Enter a UK postcode using only letters and numbers, in the format M2 3LR"</a>
             </li>
             <li>
              <a href="/ucd-register/healthcare-professional/error-messages/postcode-incorrect-format">Incorrect format e.g. anything other than regex: "Enter a UK postcode in the format M2 3LR"</a>
             </li>
             <li>
              <a href="/ucd-register/healthcare-professional/error-messages/postcode-too-many">Too many characters entered (more than 10): "Postcode must be 10 characters or less"</a>
             </li>
             <li>
              <a href="/ucd-register/healthcare-professional/error-messages/building-too-many">Too many characters entered (more than 35): "Building number or name must be 35 characters or less"</a>
             </li>
            </ol>
            
            <h3 class="govuk-heading-s">3.9 Main contact confirm address</h3>
          <ol class="govuk-list">
            <li>
              <a href="/ucd-register/healthcare-professional/error-messages/no-radios-confirm-address">User has not selected any radios: "Select an address"</a>
             </li>
            </ol>
            
            <h3 class="govuk-heading-s">3.10 Manual main contact address</h3>
            <ol class="govuk-list">
              <li>
                <a href="/ucd-register/healthcare-professional/error-messages/no-entry-address-line-1">Mandatory address line 1 field not populated: "Enter address line 1, typically the building and street"</a>
               </li>
               <li>
                <a href="/ucd-register/healthcare-professional/error-messages/incorrect-characters-address-line-1">Incorrect number of characters in address line 1 entered: "Address line 1 must be between 3 and 35 characters"</a>
               </li>
               <li>
                <a href="/ucd-register/healthcare-professional/error-messages/incorrect-characters-address-line-2">Incorrect number of characters in address line 2 entered: "Address line 2 must be between 3 and 35 characters"</a>
               </li>
               <li>
                <a href="/ucd-register/healthcare-professional/error-messages/town-city-no-entry">Mandatory town or city field not populated: "Enter town or city"</a>
               </li>
               <li>
                <a href="/ucd-register/healthcare-professional/error-messages/incorrect-characters-town-city">Incorrect number of characters of town or city entered: "Town or city must be between 3 and 35 characters"</a>
               </li>
               <li>
                <a href="/ucd-register/healthcare-professional/error-messages/no-postcode-their-address">Mandatory postcode field not populated: "Enter postcode"</a>
               </li>
              </ol>'
      }
    },
    {
      heading: {
        text: "Hospital and care facilities"
      },
      content: {
        html: '
        <h3 class="govuk-heading-s">5.2 Are you in a hospital or hospice as an in-patient today?</h3>
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/hospital-dates/error-messages/5-2-today-no-radios">User has not selected any radios: "Select hospital or hospice if applicant is an in-patient"</a>
           </li>
          </ol>

          <h3 class="govuk-heading-s">5.3 Accommodation type</h3>
        <ol class="govuk-list">
          <li>
            <a href="/ucd-register/hospital-dates/error-messages/5-3-other-housing-no-radios">User has not selected any radios: "Select accommodation type if applicant is living in one of these"</a>
           </li>
          </ol>

          <h3 class="govuk-heading-s">5.4 In hospital yesterday?</h3>
          <ol class="govuk-list"> 
           <li>
            <a href="/ucd-register/hospital-dates/error-messages/5-4-yesterday-no-radios">User has not selected any radios: "Select yes if applicant was in hospital yesterday"</a>
           </li>
         </ol>
         
         <h3 class="govuk-heading-s">5.5 Private patient</h3>
         <ol class="govuk-list"> 
          <li>
           <a href="/ucd-register/hospital-dates/error-messages/5-5-private-p-no-radios">User has not selected any radios: "Select yes if applicant is a private patient paying all their own costs"</a>
          </li>
        </ol>
        
        <h3 class="govuk-heading-s">5.6 Accommodation postcode + building number</h3>
        <ol class="govuk-list"> 
         <li>
          <a href="/ucd-register/hospital-dates/error-messages/5-6-postcode-invalid">Invalid characters entered in postcode: "Enter a UK postcode using only letters and numbers, in the format M2 3LR"</a>
         </li>
         <li>
          <a href="/ucd-register/hospital-dates/error-messages/5-6-postcode-invalid-format">Incorrect format e.g. anything other than regex: "Enter a UK postcode in the format M2 3LR"</a>
         </li>
         <li>
          <a href="/ucd-register/hospital-dates/error-messages/5-6-postcode-too-many">Too many characters entered (more than 10): "Postcode must be 10 characters or less"</a>
         </li>
       </ol>
       
       <h3 class="govuk-heading-s">5.7 Confirm accommodation address</h3>
       <ol class="govuk-list"> 
        <li>
         <a href="/ucd-register/hospital-dates/error-messages/5-7-hosp-address-no-radios">User has not selected any radios: "Select an address"</a>
        </li>
      </ol>
      
      <h3 class="govuk-heading-s">5.8 In hospice yesterday</h3>
      <ol class="govuk-list"> 
       <li>
        <a href="/ucd-register/hospital-dates/error-messages/5-8-hospice-yesterday-no-radios">User has not selected any radios: "Select yes if applicant was in the hospice yesterday"</a>
       </li>
     </ol>
     
     <h3 class="govuk-heading-s">5.9 Date entering hospice</h3>
     <ol class="govuk-list"> 
      <li>
       <a href="/ucd-register/hospital-dates/error-messages/5-9-hospice-dates-in-past">Date is in the future: "Date of entering hospice must be in the past"</a>
      </li>
      <li>
        <a href="/ucd-register/hospital-dates/error-messages/5-9-hospice-dates-invalid-format">The date is is not in DD/MM/YYYY format: "Enter a date, a month, and a year using only numbers"</a>
       </li>
       <li>
        <a href="/ucd-register/hospital-dates/error-messages/5-9-hospice-dates-letters">User has entered letters or special characters: "Enter a date using only numbers"</a>
       </li>
    </ol>
    
    <h3 class="govuk-heading-s">5.10 Hospice postcode + building number</h3>
    <ol class="govuk-list"> 
     <li>
      <a href="/ucd-register/hospital-dates/error-messages/5-10-hospice-postcode-incorrect-format">Incorrect format e.g. anything other than regex: "Enter a UK postcode in the format M2 3LR"</a>
     </li>
     <li>
      <a href="/ucd-register/hospital-dates/error-messages/5-10-hospice-postcode-too-many">Too many characters entered (more than 10): "Postcode must be 10 characters or less"</a>
     </li>
     <li>
      <a href="/ucd-register/hospital-dates/error-messages/5-10-hospice-building-too-many">Too many characters entered (more than 35): "Building number or name must be 35 characters or less"</a>
     </li>
   </ol>
   
   <h3 class="govuk-heading-s">5.11 Confirm hospice address</h3>
    <ol class="govuk-list"> 
     <li>
      <a href="/ucd-register/hospital-dates/error-messages/5-11-select-hospice-no-radios">User has not selected any radios: "Select an address"</a>
     </li>
     </ol>
     
     <h3 class="govuk-heading-s">5.12 Living in accommodation yesterday</h3>
     <ol class="govuk-list"> 
      <li>
       <a href="/ucd-register/hospital-dates/error-messages/5-12-other-yesterday-no-radios">User has not selected any radios: "Select yes if applicant was living in this place yesterday"</a>
      </li>
      </ol>
      
      <h3 class="govuk-heading-s">5.13 Organisation paying costs</h3>
      <ol class="govuk-list"> 
       <li>
        <a href="/ucd-register/hospital-dates/error-messages/5-13-third-party-pay-no-radios">User has not selected any radios: "Select organisation type if they pay any accommodation costs"</a>
       </li>
       </ol>
       
       <h3 class="govuk-heading-s">5.14 Local authority repayment</h3>
       <ol class="govuk-list"> 
        <li>
         <a href="/ucd-register/hospital-dates/error-messages/5-14-local-agreement-no-radios">User has not selected any radios: "Select yes if there is an agreement to pay back local authority"</a>
        </li>
        </ol>
        
        <h3 class="govuk-heading-s">5.23 Organisation paying accommodation costs</h3>
        <ol class="govuk-list"> 
         <li>
          <a href="/ucd-register/hospital-dates/error-messages/5-23-name-no-field">User leaves the field blank: "Enter name of organisation paying accommodation costs"</a>
         </li>
         </ol>'
      }
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
