{% extends "layouts/main.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Journey scenarios and updates</h1>

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pastYearHtml %}
<h2 class="govuk-heading-l">Journey scenarios</h2>
{{ govukTable({
  head: [
    {
      text: "Section or component"
    },
    {
      text: "Page or prototype link"
    }
  ],
  rows: [
  [
  {
    text: "Scenario: Contact details "
  },
  {
    html: '<a href="/scenarios/healthcare-professionals/scenario-number-np" class="govuk-link">HCP phone number not provided'
  }
 ],
  [
  {
    text: "Address not found pattern for all address journeys"
  },
  {
    html: '<a href="/no-address-found-journey/no-address-found" class="govuk-link">No address found'
  }
 ],
  [
  {
    text: "Additional support"
  },
  {
    html: '<a href="/design-updates/new-script-as/start-info" class="govuk-link">New script journey'
  }
 ],
  [
  {
    text: "GB Consent"
  },
  {
    html: '<a href="/design-updates/consent-v1" class="govuk-link">v1 Consent'
  }
 ],
  [
   {
     text: "GB Consent"
   },
   {
     html: '<a href="/design-updates/consent-v2" class="govuk-link">v2 Consent'
   }
  ],
  [
  {
    text: "NI Consent"
  },
  {
    html: '<a href="/design-updates/consent-NI" class="govuk-link">v1 NI Consent'
  }
 ],
 [
 {
   text: "NI Consent"
 },
 {
   html: '<a href="/design-updates/consent-NI-v2" class="govuk-link">v2 NI Consent'
 }
],
[
{
  text: "NI Declaration"
},
{
  html: '<a href="/ucd-register/declaration" class="govuk-link">v1 NI Declaration'
}
]
  ]
}) }}
{% endset -%}

{% set checkAnswersHtml %}
<h2 class="govuk-heading-l">Check your answers</h2>
{{ govukTable({
  head: [
    {
      text: "Journey Section"
    },
    {
      text: "CYA link"
    }
  ],
  rows: [
    [
    {
      text: "Contact details CYA"
    },
    {
      html: '<a href="/ucd-register/contact-details/contact-details-summary" class="govuk-link">CYA with all potential fields & answers'
    }
  ],
 [
 {
   text: ""
 },
 {
   html: '<a href="/ucd-register/contact-details/middle-name-summary" class="govuk-link">Middle name CYA'
 }
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/contact-details/no-address-summary" class="govuk-link">No permanent address CYA'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/contact-details/country-address-summary" class="govuk-link">Address with country CYA'
}
],
  [
  {
    text: "Additional support"
  },
  {
    html: '<a href="/v2-ucd-register/additional-support/add-support-summary" class="govuk-link"> Additional support needs'
  }
 ],
 [
{
  text: "Nationality, work and residence"
},
{
  html: '<a href="/v2-ucd-register/nationality/nationality-summary" class="govuk-link">ALL FIELDS Nationality V2 (new route)'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/nationality/nationality-summary-dev" class="govuk-link">Nationality V1'
}
],
[
{
  text: "Health and care contacts"
},
{
  html: '<a href="/scenarios/healthcare-professionals/scenario-number-np" class="govuk-link">Number and address not provided - "Save and continue"'
}
],
[
{
  text: "Health and care contacts"
},
{
  html: '<a href="#" class="govuk-link">TO UPDATE - 2 HCPs (no link)'
}
],
[
{
  text: ""
},
{
  html: '<a href="#" class="govuk-link">TO UPDATE - 1 HCP (no link)'
}
],
[
{
  text: "Hospital and care facilities"
},
{
  html: '<a href="/v2-ucd-register/hospital-dates/hospital-residence-summary-dev" class="govuk-link">Hospital CYA - "Save and continue"'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/hospital-dates/hospice-residence-summary-dev" class="govuk-link">Hospice CYA - "Save and continue"'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/hospital-dates/other-residence-summary-dev" class="govuk-link">Other accom CYA - "Save and continue"'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/hospital-dates/no-third-party-paying-summary-dev" class="govuk-link">No third party paying CYA - "Save and continue"'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/hospital-dates/no-other-residence-summary-dev" class="govuk-link">No other care facility CYA - "Save and continue"'
}
],
[
{
  text: "How we pay you"
},
{
  html: '<a href="/v2-ucd-register/bank-details/bank-details-summary" class="govuk-link">Bank details UK - "Save and continue"'
}
],
[
{
  text: ""
},
{
  html: '<a href="/v2-ucd-register/bank-details/bank-details-summary-non-uk" class="govuk-link">Bank details International - "Save and continue"'
}
]
  ]
}) }}
{% endset -%}

{% set conceptsHtml %}
<h2 class="govuk-heading-l">Concepts and updates</h2>
{{ govukTable({
  head: [
    {
      text: "Section or component"
    },
    {
      text: "Page or prototype link"
    }
  ],
  rows: [
  [
  {
    text: "Eligibility"
  },
  {
    html: '<a href="/design-updates/eligibility/security-check" class="govuk-link">Option 1: Security question check (radios)'
  }
],
  [
{
  text: "Welcome screens"
},
{
  html: '<ul class="govuk-list">
    <li>
      <a href="/design-updates/welcome-screens/three-screen-version/welcome-screen-ni" class="govuk-link">V.2 NI: Content split across 3 screens</a>
    </li>
    <li>
      <a href="/design-updates/welcome-screens/welcome-screen-ni" class="govuk-link">V.1 NI welcome screen: op 1</a>
    </li>
  </ul>'
}
],
    [
    {
      text: "Contact details"
    },
    {
      html: '
      <ul class="govuk-list">
        <li>
          <a href="/v2-ucd-register/contact-details/what-is-your-dob" class="govuk-link">V.1 What is your DOB?</a>
        </li>
      </ul>

      <ul class="govuk-list">
        <li>
          <a href="/design-updates/v2-phone-number" class="govuk-link">V.3 phone number</a>
        </li>
        <li>
          <a href="/design-updates/phone-hint-text-examples" class="govuk-link">V.2 phone number</a>
        </li>
      </ul>

      <ul class="govuk-list">
        <li>
          <a href="/design-updates/contact-details/do-you-want-to-opt-out" class="govuk-link">V.3 text message updates</a>
        </li>
        <li>
          <a href="/design-updates/contact-details/do-you-want-to-receive-text-updates" class="govuk-link">V.2 text message updates</a>
        </li>
      </ul>
      
      <ul class="govuk-list">
        <li>
          <a href="/design-updates/contact-details/what-is-your-name" class="govuk-link">Full name, preferred name & previous name</a>
        </li>
      </ul>'
    }
  ],
  [
  {
    text: "Contact details & Alt formats"
  },
  {
    html: '<ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/design-updates/alt-formats-concepts/ni-mtp-contact-formats-1">MTP op 1: Contact format options hint</a>
      </li>
      <li>
        <a class="govuk-link" href="/design-updates/alt-formats-concepts/ni-mtp-contact-formats-inset">MTP op 2: Contact format options inset</a>
      </li>
      <li>
        <a class="govuk-link" href="/design-updates/alt-formats-concepts/ni-mtp-routed">MTP op 3: Other formats routed to another page</a>
      </li>
    </ul>'
  }
],
[
{
  text: "Contact information: Additional support"
},
{
  html: '<ul class="govuk-list">
    <li>
      <a href="/design-updates/additional-support/start-info" class="govuk-link"> V.1 Additional support original script</a>
    </li>
    <li>
      <a href="/v2-ucd-register/additional-support/start-info" class="govuk-link"> V.2 Additional support</a>
    </li>
  </ul>'
}
],
  [
  {
    text: "Nationality- input accessibility"
  },
  {
    html: '<ul class="govuk-list">
      <li>
    <a href="/design-updates/nationality/what-is-your-nationality-con" class="govuk-link">Country lived in- select accessibility: conditional reveal</a>
    </li>
    <li>
      <a href="/design-updates/nationality/what-is-your-nationality-drop" class="govuk-link">select accessibility: dropdown</a>
      </li>
    </ul>'
  }
  ],
  [
  {
    text: "Health and care contacts"
  },
  {
    html: '<ul class="govuk-list">
      <li>
        <a href="/design-updates/hcp-cya-concepts/hcp-edit-journey/remove-add-health-professional" class="govuk-link">HCP remove hint text</a>
      </li>
      <li>
        <a href="/design-updates/additional-support-needed" class="govuk-link">Grouped hcp second types</a>
      </li>
    </ul>'
  }
  ],
    [
      {
        text: "New task list order"
      },
      {
        html: '<a href="/design-updates/task-list" class="govuk-link">Sprint 13 task list'
      }
    ],
    [
    {
      text: "Why we need accomodation info concepts"
    },
    {
      html: '<a href="/accom-dates-context" class="govuk-link">Open page'
    }
    ]
      ]
    }) }}
    {% endset -%}

{{ govukTabs({
  items: [
    {
      label: "User journey scenarios",
      id: "past-year",
      panel: {
        html: pastYearHtml
      }
    },
    {
      label: "Check your answers",
      id: "check-answers",
      panel: {
        html: checkAnswersHtml
      }
    },
    {
      label: "Concepts or updates",
      id: "concepts",
      panel: {
        html: conceptsHtml
      }
    }
  ]
}) }}
{% endblock %}
