{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">
        <div class="govuk-width-container">

          {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter name of organisation paying accommodation costs",
                href: "#nationality"
              }
            ]
          }) }}

          {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is the name of the [organisation type]?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "event-name",
          name: "eventName",
          errorMessage: {
            text: "Enter name of organisation paying accommodation costs"
          },
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
    
          {{ govukButton({
            text: "Change previous answers",
            classes: "govuk-button--secondary",
            href: "/v2-ucd-register/task-list-accom-in-progress"
          }) }}
        </div>

        </div>
      </form>
    </div>
  </div>

{% endblock %}