{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" method="post">

      <h1 class="govuk-heading-l">Select what security questions were answered</h1>

      <div class="govuk-hint">
        Select up to 3 security questions that were asked and mark if they were correctly answered.
      </div>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "previousName",
        fieldset: {
          legend: {
            text: "What is your previous surname(s)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "answered-correctly",
          text: "Correctly answered"
        },
        {
          value: "incorrectly-answered",
          text: "Incorrectly answered"
        }
        ]
      }) }}

      {{ govukRadios({
        name: "previousAddress",
        fieldset: {
          legend: {
            text: "What is your previous address(es)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "answered-correctly",
            text: "Correctly answered"
          },
          {
            value: "incorrectly-answered",
            text: "Incorrectly answered"
          }
          ]
        }) }}

        {{ govukRadios({
          name: "nameOtherBenefit",
          fieldset: {
            legend: {
              text: "Name another benefit you receive",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "answered-correctly",
              text: "Correctly answered"
            },
            {
              value: "incorrectly-answered",
              text: "Incorrectly answered"
            }
            ]
          }) }}

          {{ govukRadios({
            name: "otherBenefitStartDate",
            fieldset: {
              legend: {
                text: "On which date did your claim for the other benefit start?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "answered-correctly",
                text: "Correctly answered"
              },
              {
                value: "incorrectly-answered",
                text: "Incorrectly answered"
              }
              ]
            }) }}

            {{ govukRadios({
              name: "weeklyMonthlyAmount",
              fieldset: {
                legend: {
                  text: "What is the weekly or monthly amount of the other benefit?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "answered-correctly",
                  text: "Correctly answered"
                },
                {
                  value: "incorrectly-answered",
                  text: "Incorrectly answered"
                }
                ]
              }) }}


            {{ govukRadios({
              name: "anotherBenefitClaimed",
              fieldset: {
                legend: {
                  text: "Name another benefit you have claimed previously, regardless of whether you were paid it?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "answered-correctly",
                  text: "Correctly answered"
                },
                {
                  value: "incorrectly-answered",
                  text: "Incorrectly answered"
                }
                ]
              }) }}

              {{ govukRadios({
                name: "partnersNino",
                fieldset: {
                  legend: {
                    text: "What is your partner’s National Insurance Number?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "answered-correctly",
                    text: "Correctly answered"
                  },
                  {
                    value: "incorrectly-answered",
                    text: "Incorrectly answered"
                  }
                  ]
                }) }}

                {{ govukRadios({
                  name: "partnersName",
                  fieldset: {
                    legend: {
                      text: "What is your partner’s full name?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "answered-correctly",
                      text: "Correctly answered"
                    },
                    {
                      value: "incorrectly-answered",
                      text: "Incorrectly answered"
                    }
                    ]
                  }) }}

                  {{ govukRadios({
                    name: "partnersDob",
                    fieldset: {
                      legend: {
                        text: "What is your partner’s date of birth?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                      }
                    },
                    items: [
                      {
                        value: "answered-correctly",
                        text: "Correctly answered"
                      },
                      {
                        value: "incorrectly-answered",
                        text: "Incorrectly answered"
                      }
                      ]
                    }) }}

                    {{ govukRadios({
                      name: "childrenFullname",
                      fieldset: {
                        legend: {
                          text: "What is one of your children’s full names?",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          value: "answered-correctly",
                          text: "Correctly answered"
                        },
                        {
                          value: "incorrectly-answered",
                          text: "Incorrectly answered"
                        }
                        ]
                      }) }}

                      {{ govukRadios({
                        name: "childrenDob",
                        fieldset: {
                          legend: {
                            text: "What is one of your children’s dates of birth?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        items: [
                          {
                            value: "answered-correctly",
                            text: "Correctly answered"
                          },
                          {
                            value: "incorrectly-answered",
                            text: "Incorrectly answered"
                          }
                          ]
                        }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
    
  </div>
</div>

{% endblock %}