{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove item from order - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
      <form action="#" method="post" novalidate>

        <h1 class='govuk-heading-l govuk-!-margin-bottom-3'>Are you sure you want to delete the application data?</h1>

        <p class='govuk-body'>The applicant's answers will be permanently deleted if you have not saved them to PIPCS.</p>

        {{ govukRadios({
          name: "clear-session",
          fieldset: {
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}