{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove item from order - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
      <form action="#" method="post" novalidate>

        {{ govukRadios({
          name: "clear-session",
          fieldset: {
            legend: {
              text: "Are you sure you want to delete the application data?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "The applicant's answers will be permanently deleted if you have not saved them to PIPCS."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}