{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" method="post">

      <h1 class="govuk-heading-xl">
        Hello, you're through to the new claims line for Personal Independence Payment, which I will call PIP from now on
      </h1>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "call-type",
        fieldset: {
          legend: {
            text: "How can I help you today?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "new-claim",
            text: "Start a new application"
          },
          {
            value: "resume-application",
            text: "Continue an application",
            hint: {
              text: "For example, the call was disconnected."
            }
          },
          {
            value: "delete-application",
            text: "Cancel an application"
          },
          {
            divider: "or"
          },
          {
            value: "other",
            text: "Other reason for call"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>

{% endblock %}
