{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-exit-this-page" data-module="govuk-exit-this-page">
    <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-exit-this-page__button govuk-js-exit-this-page-button" data-module="govuk-button" rel="nofollow noreferrer">
      <span class="govuk-visually-hidden">clear session data</span> Exit application
    </a>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Register a claim for PIP
      </h1>

      <ol class="govuk-prototype-kit-task-list">
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> Contact information
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/contact-details/contact-details-summary" aria-describedby="eligibility-status">
                  Change contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/additional-support/start-info" aria-describedby="read-declaration-status">
                  Add additional support needs
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> Nationality, work and residence
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/nationality/start" aria-describedby="eligibility-status">
                  Add nationality, work and residence
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> Healthcare and support
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/healthcare-professional/start" aria-describedby="read-declaration-status">
                  Add health and care contacts
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="read-declaration-status">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/hospital-dates/5-1-why-we-need-details" aria-describedby="read-declaration-status">
                 Add hospital and care facilities
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Bank details
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/ucd-register/bank-details/6-1-start" aria-describedby="read-declaration-status">
                  Add bank details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="submit-pay-status">Not started</strong>
            </li>
          </ul>
        </li>


          <li>
            <h2 class="govuk-prototype-kit-task-list__section">
              <span class="govuk-prototype-kit-task-list__section-number">5. </span> Motability Scheme
            </h2>
            <ul class="govuk-prototype-kit-task-list__items">
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="/ucd-register/motability/motability" aria-describedby="read-declaration-status">
                    Add Motability Scheme
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="read-declaration-status">Not started</strong>
              </li>
            </ul>
            </li>

      </ol>
    </div>
  </div>

</div>

{% endblock %}
