{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}
  {{ dwpHeader({
  name: "Register for PIP",
  serviceHref: '/',
  container:true
  }) }}
{% endblock %}

{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
meta: {
visuallyHiddenTitle: "Support links",
items: [
{
  href: "",
  text: "Accessibility statement"
},
{
  href: "",
  text: "Privacy notice"
}
]
}
}) }} 