{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}

{% block header %}
  {{ dwpHeader({
  name: "Personal Independnce Payment",
  serviceHref: '/',
  container:true
  }) }}
{% endblock %}

{% block footer %}

{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#1",
      text: "Accessibility statement"
    }
    ]
  }
}) }} 

{% endblock %}